#note-sidebar {
    background: #efefef;
    left: 0;
    width: 75px;
    height: 100vh;
    border-right: solid 1px #e1e1e1;
    text-align: center;
}

#note-sidebar .sidebar-logo {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 0;
    padding: 12px;
}

#note-sidebar .sidebar-tool {
    padding-top: 105px;

}

#note-sidebar .sidebar-tool .tool-button {
    height: 48px;
}
